.presentation {
    width: auto;
    max-width: 650px;
    height: 425px;
    border: 1px solid;
    background-color: white;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.avatar {
    width: 150px;
    height: 150px;
    border: 2px solid #fefefe;
    border-radius: 50%;
    background-color: #dcfffb;
    margin: 25px auto;
}

.presentation-text {
    margin: 25px auto;
    padding: 0 50px;
}
