.experience-item {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
}

.experience-date {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid;
    padding: 30px;
}

.experience-title {
    width: 100%;
    text-align: start;
    padding: 10px;
}

@media screen and (max-width: 750px) {
    .experience-title {
        max-width: 100%;
    }
    .experience-date {
        width: 20%;
        padding: 10px;
        min-width: 20px;
    }
}

@media screen and (min-width: 750px) {
    .experience-title {
        margin: auto;
    }
}
