.skill-item {
    border: 1px solid;
    padding: 10px;
    width: 250px;
    position: relative;
    margin: 10px auto;
    height: 100px;

    -webkit-transition: background-color 200ms linear;
    -moz-transition: background-color 200ms linear;
    -o-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}

.skill-item:hover {
    background-color: #fefefe;
}

.skill-logo {
    margin: 0 auto;
}

.skill-name {
    font-weight: bold;
}

.skill-description {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}
