@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "JetBrains Mono";
    src: url("./fonts/JetBrainsMono-Regular.ttf");
}

body {
    margin: 0;
    font-family: "JetBrains Mono", monospace, -apple-system, BlinkMacSystemFont,
        "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
